
    

 

<!-- Footer -->
<footer class="py-lg-4 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; 2020 - Sitio desarrollado por Rodrigo Rivera</p>
    </div>
    <!-- /.container -->
</footer>
